{#  base.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}

    <div class="block block--page-add">
        <div class="block-content">
            {{ form(register_form) }}
        </div>
    </div>

{% endblock %}